body{
    background-color: rgba(37, 32, 32, 0.69)!important;
    background-image: url("/images/painted-solid-concrete-wall-textured-backdrop.jpg");
}

.main__title{
    padding: 10%;
    font-family:'Times New Roman', Times, serif;
    color: rgb(237, 237, 237);
}

.container{
    padding-left: 10%;
}

.text__white{
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(221, 221, 221);
    width: 70%;
}

.Space__experience{
    padding-top: 10%;
}

